body {
  background: #1a2426;
  font-size: 16px;
}

p, span, div, li, a, input, button {
  font-family: Lato, Arial, sans-serif;
}

h1, h2 {
  font-family: Lato, Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header h1 {
  color: #f7f7f7;
  font-size: 5em;
  text-align: center;
  margin: 20px auto;  
}

#data {
  color: #f7f7f7;
  font-size: 3em;
  text-align: center;
  margin: 20px auto;  
}